@use 'rows';

body{
    grid-area: rows;
    // grid-template-rows: repeat(5,1fr);
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;

}