nav{
    grid-area: input;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 98.75vw;
    height: 20vw;
    // border: 2px solid green;
}


#inputBar{
    text-align: right;
    vertical-align: bottom;
    font-size: 1.67rem;
    margin: auto;
    border: none;
    height: 10.75vw;
    border: 2px solid white;
    overflow-wrap: normal;
    border-radius: 20px;
}

@media screen and (max-width:300px){
    #inputBar{
        font-size: 1.5rem;
    }
}