nav{
    grid-area: input;
    display: flex;
    justify-content: center;
    height: 100%;
    border: 2px solid blue;
    // box-sizing: border-box;
}


#inputBar{
    text-align: right;
    font-size: 2.5rem;
    width: 98.75vw;
    max-width: 100%; /* optionally set a maximum width to prevent the input from becoming too wide */
}


