.firstRow{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: .8rem;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #a5a5a5;
        border: #a5a5a5;
        flex-shrink: 0;
    }
    #button__Divide{
        background-color: #fe9504;
        border:#fe9504;
    }

    @keyframes fade {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.5;
        }
    }

    button:active{
        animation: fade 0.1s linear;
    }
    button:hover{
        background-color: #e6e6e6;
    }
    #button__Divide:hover{
        background-color: #e6e6e6;
    }
    
    // border: 2px solid pink;
    
}

.secondRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }

    button:hover{
        background-color: #e6e6e6;
    }

    #button__Multiply{
        background-color: #fe9504;
        border:#fe9504;
    }

    // border: 2px solid pink;
}

.thirdRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }
    button:hover{
        background-color: #e6e6e6;
    }
    
    #button__Subtract{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}

.fourthRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }

    button:hover{
        background-color: #e6e6e6;
    }

    #button__Addition{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}

.fifthRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }

    button:hover{
        background-color: #e6e6e6;
    }

    #button0{
        border-radius: 1.875rem;
        width: 8.95rem;
        text-align: left;
        text-indent: 1.55rem;
    }

    #button__Calculate{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}

@media screen and (max-width:280px){
    .firstRow{
        gap: 0.2rem;
    }

    .secondRow{
        gap: 0.2rem;
    }

    .thirdRow{
        gap: 0.2rem;
    }

    .fourthRow{
        gap: 0.2rem;
    }
    
    .fifthRow{
        gap: 0.1rem;
    }
}