.firstRow{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: .8rem;
    button{
        border-radius: 50%;
        width: 4.125rem;
        height: 4.125rem;
        font-size: 1.5rem;
        background-color: #a5a5a5;
        border: #a5a5a5;
        flex-shrink: 0;
    }
    #firstRow__Divide{
        background-color: #fe9504;
        border:#fe9504;
    }
    border: 2px solid pink;
}

@media screen and (max-width:280px){
    .firstRow{
        gap: 0.2rem;
    }
}


.secondRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 24px;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }
    #secondRow__Multiply{
        background-color: #fe9504;
        border:#fe9504;
    }

    // border: 2px solid pink;
}

.thirdRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 24px;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }
    #thirdRow__Subtract{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}

.fourthRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 24px;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }
    #fourthRow__Addition{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}

.fifthRow{
    display: flex;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    button{
        border-radius: 50%;
        width: 66px;
        height: 66px;
        font-size: 24px;
        background-color: #333333;
        border: #333333;
        flex-shrink: 0;
    }

    #button0{
        border-radius: 1.875rem;
        width: 8.95rem;
        text-align: left;
        text-indent: 1.55rem;
    }

    #fifthRow__Calculate{
        background-color: #fe9504;
        border:#fe9504;
    }
    // border: 2px solid pink;
}