//Module imports

//Globals
$primaryBackground: #000000;
$main-button__Color: #fe9504;
$secondary-button__Color:#a5a5a5;
$numpad-button__Color:#333333;
$primaryFontColor: #ffffff;

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}